.header {
  height: 300px;
  background-image: url('/pikachu_roupaMarinheiro.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.639);
  position: relative;
}

.nav_itens {
  display: flex;
  gap: 25px;
  padding: 0px 15px 10px 0px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.nav_itens > li > a {
  color: white;
  transition: 0.4s;
}

.nav_itens > li > a:hover {
  color: gray;
}